@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primaryBlack: #121212;
  --secondaryBlack: #282828;
  --main: #3358e8;
  --text: #a8a8a8;
  --textMain: #ddd;
  --btn: #2f50cf;
  --bg: #3358e8;
}

html {
  background-color: var(--primaryBlack);
  color: var(--textMain);
  background-image: url("../assets/home.png");
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

.blur__effect {
  @apply relative flex place-items-center before:absolute before:h-[300px] before:w-[480px] before:-translate-x-1/2 before:rounded-full before:bg-gradient-radial before:from-white before:to-transparent before:blur-2xl before:content-[''] after:absolute after:-z-20 after:h-[180px] after:w-[240px] after:translate-x-1/3 after:bg-gradient-conic after:from-sky-200 after:via-blue-200 after:blur-2xl after:content-[''] before:dark:bg-gradient-to-br before:dark:from-transparent before:dark:to-blue-700 before:dark:opacity-10 after:dark:from-sky-900 after:dark:via-[#0141ff] after:dark:opacity-40 before:lg:h-[360px] z-[-1];
}

.active__link {
  position: relative;
}

.active__link::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 50%;
  background-color: var(--bg);
  border-radius: 32px;
  bottom: -4px;
  left: 0;
  animation: grow 0.5s;
}

.hover__link:hover {
  position: relative;
}

.hover__link:hover::after {
  position: absolute;
  content: "";
  height: 3px;
  width: 50%;
  background-color: var(--bg);
  border-radius: 32px;
  bottom: -4px;
  left: 0;
  animation: grow 0.5s;
}

@keyframes grow {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}

.welcome {
  position: absolute;
  background-image: url("../assets/svg/welcome/home_bg.png");
  background-position: right;
  bottom: 0;
  width: 900px;
  height: 100%;
  right: -85px;
  mix-blend-mode: screen;
  z-index: -2;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1124px) {
  .welcome {
    width: 750px;
    right: -35px;
  }
}

@media (max-width: 970px) {
  .welcome {
    width: 600px;
    right: -45px;
  }
}
